/* Variables */

:root {
  --basic-black: #000000;

  --basic-grey: #E1E1E1;
  --basic-grey-dark: #DFDFDF;
  --basic-grey-extra-dark: #D5D5D5;

  --basic-special: #4D4D4D;
  --basic-special-dark: #283136;

  --basic-red: #FB565A;
  --basic-red-dark: #E74246;
  --basic-red-extra-dark: #D7373B;

  --basic-green: #00CA74;
  --basic-green-dark: #00BC6C;
  --basic-green-extra-dark: #00AA62;

  --basic-yellow: #EFC84A;;
  --basic-yellow-dark: #EAB534;
  --basic-yellow-extra-dark: #E5A722;

  --basic-smoky-white: #EEEEEE;
  --basic-white: #FFFFFF;

  --slider-checked: #666666;
  --scale-color:  #D7DCDF;
  --bar-color: #00CA74;
  --toggle-color: #ABABAB;

  --catalog-item-description: #666666;
}

/* Global */

body {
  min-width: 1160px;

  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--basic-special-dark);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  border-radius: 3px;
  border: none;
  background-color: var(--basic-red);
}

.button:hover {
  background-color: var(--basic-red-dark);
}

.button:active {
  background-color: var(--basic-red-extra-dark);
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--basic-green-dark);
}

.button-green:active {
  background-color: var(--basic-green-extra-dark);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--basic-yellow-dark);
}

.button-yellow:active {
  background-color: var(--basic-yellow-extra-dark);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Header */

.main-header {
  margin: 0;
  padding: 0;
  padding-top: 50px;

  background-color: var(--basic-smoky-white);
  /* outline: 5px solid red;
  outline-offset: -5px; */
}

.main-navigation {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* outline: 1px solid magenta;
  outline-offset: -1px; */
}

.main-header-logo {
  width: 160px;
  height: 66px;

  /* outline: 5px solid magenta;
  outline-offset: -5px; */
}

.site-navigation {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  width: 437px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  /* outline: 5px solid magenta;
  outline-offset: -5px; */
}

.user-navigation {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.cart {
  margin: 0;
  padding-left: 0;

  position: relative;
  margin-left: auto;
}

.cart::before {
  position: absolute;
  content: "";

  width: 15px;
  height: 15px;

  top: 4px;
  left: -40px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.active {
  padding-bottom: 19px;

  border-bottom: 2px solid var(--basic-red);
  /* outline: 1px solid yellow; */
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart:hover,
.cart:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.cart:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Main */

main {
  margin: 0;
  padding: 0;

  /* outline: 5px solid blue;
  outline-offset: -5px; */
}

/* Slider - Advantages */

.advantages {
  padding: 0;
  margin: 0;

  position: relative;
  background-color: var(--basic-smoky-white);
}

.slider-input {
  display: none;
}

.slider-controls {
  position: absolute;
  left: calc(50% + 9px);
  bottom: 95px;

  width: 120px;
  height: 18px;

  text-align: center;
  font-size: 0;

  transform: translateX(-50%);
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  margin: 0;
  margin-right: 17px;
  width: 10px;
  height: 10px;
  border: 4px solid var(--basic-white);
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls:last-child label {
  margin-right: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  padding: 78px 0 80px 0;
  margin-bottom: 80px;
  /* outline: 1px solid magenta; */
}

.advantages-item:nth-child(1) {
  background-image: url("../img/nerds-index-slide-1.png");
  background-repeat: no-repeat;
  background-position: 99% 0;
}

.advantages-item:nth-child(2) {
  background-image: url("../img/nerds-index-slide-2.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.advantages-item:nth-child(3) {
  background-image: url("../img/nerds-index-slide-3.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.advantages-item h3 {
  max-width: 540px;
  margin: 0;
  margin-bottom: 27px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.advantages-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 24px;
}

.advantages-item-button {
  width: 240px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: var(--slider-checked);
}

.advantages-item {
  display: none;
}

#btn-1:checked ~ .advantages-list .advantages-item:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .advantages-list .advantages-item:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .advantages-list .advantages-item:nth-child(3) {
  display: block;
}

/* Services */

.services {
  margin-bottom: 80px;


  /* outline: 1px solid blue; */
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
  /* outline: 5px solid blue; */
}

.services-item {
  width: 300px;
  margin-right: 100px;

  /* outline: 5px solid blue; */
}

.services-item:nth-child(3) {
  margin-right: 0;
}

.services-item img {
  margin-bottom: 18px;
}

.services-item h3 {
  margin: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.services-item p {
  margin-bottom: 32px;
  max-width: 250px;
  font-size: 16px;
  line-height: 24px;
}

.services-item a {
  width: 160px;
}

/* Promo */

.promo {
  display: flex;
  padding-top: 40px;
  padding-bottom: 50px;
  justify-content: space-between;
  border-top: 2px solid var(--basic-grey);
  border-bottom: 2px solid var(--basic-grey);

  /* outline: 1px solid blue; */
}

.promo-left {
  width: 660px;
  padding-top: 34px;

  /* outline: 1px solid green; */
}

.promo-left-title  {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.promo-left-description {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.promo-left-list-title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.orders-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.orders-item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
}

.orders-item::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 27px;
  border-bottom: 2px solid var(--basic-red);
}

.promo-right {
  width: 360px;
}

.promo-right img {
  margin-bottom: 30px;
}

.promo-features-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.promo-features {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 110px;
  margin-right: 5px;

  outline: 1px solid green;
}

.promo-features:last-child {
  margin-right: 0;
}

.promo-features b {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.promo-features sup {
  font-size: 26px;
  line-height: 40px;
}

.promo-features p {
  margin: 0;
  margin-top: 11px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

/* Partners */

.partners {
  border-bottom: 2px solid var(--basic-grey);
  /* outline: 1px solid blue; */
}

.partners-list {
  margin: 0;
  padding: 45px 0 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style: none;
}

.partners-item {
  position: relative;
  width: 270px;
}

.partners-item a {
  display: block;
  text-align: center;
  opacity: 0.2;
}

.partners-item a:hover {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}

/* Footer */

.main-footer {
  margin-top: 80px;
}

.contacts-container {
  padding: 54px 0;
  background-image: url("../img/map.png");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.contacts {
  width: 320px;
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--basic-white);
}

.сontacts p {
  font-size: 16px;
  line-height: 18px;
}

.contacts p:nth-child(1) {
  text-transform: uppercase;
}

.contacts a {
  width: 220px;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer .container {
  display: flex;
}

.footer-socials {
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-benefits {
  width: 660px;
}

.footer-benefits p {
  font-size: 36px;
  line-height: 36px;
}

.footer-benefits span {
  font-size: 16px;
  line-height: 22px;
}

.modal {
  display: none;
}

/* Catalog */

.inner-page .main-header {
  padding-bottom: 110px;
}

.main-title {
  margin: 0 auto;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-top: 77px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

/* Filter */

.filters {
  width: 260px;
  /* outline: 2px solid magenta; */
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 15px;
  background-color: var(--basic-smoky-white);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--scale-color);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--bar-color);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  background-color: var(--toggle-color);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  color: var(--basic-special-dark);
  border: none;
  border-radius: 3px;
  background-color: var(--basic-smoky-white);
}

.max-price {
  text-align: right;
}

.filter-item label {
  font-size: 16px;
  line-height: 19px;
}

/* Catalog */

.catalog {
  margin: 0;
  padding: 0;
  width: 760px;
  display: flex;
  flex-direction: column;
  /* outline: 2px solid green; */
}

/* Sort */

.sort-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-type-list {
  list-style: none;
}

.sort-type-item {
  font-size: 14px;
  line-height: 18px;
}

.sort-order-list {
  list-style: none;
}

/* Catalog List*/

.catalog-list {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  width: 358px;
  margin-bottom: 30px;
  /* outline: 2px solid blue; */
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-item-description {
  font-size: 16px;
  line-height: 18px;
  color: var(--catalog-item-description);
}

.catalog-item-button {
  width: 200px;
}

/* Pagination */

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  color: var(--basic-black);
}

/* Inner-page Footer  */

.inner-page .main-footer {
  margin-top: 60px;
}
